<!-- Form Modal -->

<div class="modal-header">
    <button type="button" class="close" ng-click="cancel()">&times;</button>
    <h4 class="modal-title" id="myModalLabel">
        <span>
            <i class="{{ evento |tipoEvento }}"></i>
        </span>
            {{evento.oportunidade.cliente.nome}}
         -<span  ng-bind-html="evento.titulo">

        </span>
    </h4>
</div>

<div class="modal-body">

    <form>
        <table>
            <tr>
                <td class="col-md-1" >
                    <label for="exampleInputEmail1">Data:</label>
                </td>
                <td class="col-md-3">

                    <div class="input-group">
                        <input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="eventoBaixa.realizadoEmData" is-open="opened" datepicker-options="dateOptions" close-text="Fechar" />
                        <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>

                      </span>


                    </div>
                </td>
                <td class="col-md-2">
                    <div>
                        <timepicker ng-model="eventoBaixa.realizadoEmHora" ng-change="changed()" hour-step="hstep" minute-step="mstep" show-meridian="true" meridians="['AM','PM']"></timepicker>
                    </div>

                </td>

                <td class="col-md-6">
                    <div class="form-group">
                        <label for="exampleInputEmail1">Observação</label>
                        <textarea ng-model="eventoBaixa.observacao" class="form-control" rows="2" required></textarea>
                        <input type="hidden" ng-model="eventoBaixa.id" ng-init="eventoBaixa.id=evento.id" />

                    </div>
                </td>
            </tr>
        </table>


    <hr>
    <div class="panel panel-default widget-mini">
        <div class="row">
            <div class="col-md-12 col-lg-12">
                <div class="row">
                    <div class="input-group">
                      &emsp;  <label for="titulo">Agendar novo evento</label>
                    </div>
                </div>
                <div class="row">&emsp;
                    <a type="button" class="btn btn-primary" aria-expanded="false">Reunião</a>
                    <a type="button" class="btn btn-primary" aria-expanded="false">Mensagem</a>
                    <a type="button" class="btn btn-primary" aria-expanded="false">Telefonema</a>
                    </div>
                </div>
            </div>
        <div class="row"><br/></div>
        <div class="row">
                <table>
                    <tr>
                        <td colspan="4" class="col-md-12">
                                <label for="titulo">Titulo:</label>
                                <input class="form-control" type="text" ng-model="novoEvento.titulo" class="filtroAvancadoComponentes"/>
                        </td>
                    </tr>
                    <tr>
                        <td class="col-md-2">
                            <label for="exampleInputEmail1">Previsto para:</label>
                        </td>

                        <td class="col-md-3">

                            <div class="input-group">

                                <input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="novoEvento.previstoParaData" is-open="opened1" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" close-text="Fechar" />
                                <span class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-click="open1($event)"><i class="glyphicon glyphicon-calendar"></i></button>

                                </span>
                            </div>
                        </td>
                        <td class="col-md-2">
                            <div>
                                <timepicker ng-model="novoEvento.previstoParaHora" ng-change="changed()" hour-step="hstep" minute-step="mstep" show-meridian="true" meridians="['AM','PM']"></timepicker>
                            </div>

                        </td>

                        <td class="col-md-6">
                            <div class="form-group">
                                <label for="exampleInputEmail1">Descrição</label>
                                <textarea ng-model="novoEvento.observacao" class="form-control" rows="2"></textarea>
                                <input type="hidden" ng-model="novoEvento.oportunidade" ng-init="novoEvento.cliente=evento.oportunidade" />
                            </div>


                        </td>
                    </tr>
                    <tr>
                        <td colspan="4" class="col-md-12">
                                <label for="titulo">Participantes:</label>
                                <ui-select  ng-model="novoEvento.participantes" id="cliente" theme="selectize"  ng-disabled="disabled" reset-search-input="false" class="filtroAvancadoComponentes">
                                    <ui-select-match placeholder="Selecione os participantes">{{$select.selected.nome}}</ui-select-match>

                                    <ui-select-choices repeat="cliente.id as cliente in clientes | filter: $select.search">
                                        <span ng-bind-html="cliente.nome | highlight: $select.search"></span>
                                    </ui-select-choices>
                                </ui-select>


                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>





</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" ng-click="cancel()">Fechar</button>
    <button type="button" ng-disabled="eventoBaixa.$invalid" class="btn btn-primary" ng-click="ok()">Sign In</button>

</div>
</form>

<!-- End Form Modal -->
