<div class="row" ng-controller="relatoriosController as ctrl">

                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
                    <div class="panel panel-default  browser-chart">
                        <div class="panel-heading">
                            <h3 class="panel-title">Exportar Contatos</h3>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">

                                    <a class="btn btn-default" href="{{ctrl.urlContatos}}" target="_blank"> Download </a>

                                  </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
                    <div class="panel panel-default  browser-chart">
                        <div class="panel-heading">
                            <h3 class="panel-title">Exportar Contagem de Esforços</h3>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">

                                    <a class="btn btn-default" href="{{ctrl.urlEsforcosCount}}" target="_blank"> Download </a>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
        <div class="panel panel-default  browser-chart">
            <div class="panel-heading">
                <h3 class="panel-title">Exportar Histórico de Esforços</h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">

                        <a class="btn btn-default" href="{{ctrl.urlEsforcosHistorico}}" target="_blank"> Download </a>

                    </div>
                </div>
            </div>
        </div>
    </div>
            </div>


