<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <div id="error-container" class="block-error animated flipInX">
            <header>
                <h1 class="error">404</h1>
                <p class="text-center">Página não encontrada!!!</p>
            </header>


            <p class="text-center">Estamos tendo problemas para carregar a página que você está procurando.</p>
            <div class="row">
                <div class="col-md-6">
                    <a class="btn btn-info btn-block btn-3d" href="prm">Voltar para a home</a>
                </div>
                <div class="col-md-6">
                    <button class="btn btn-success btn-block btn-3d" onclick="history.back();">Voltar a página anterior</button>
                </div>
            </div>

        </div>
    </div>
</div>