<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <div id="error-container" class="block-error animated flipInX">
            <header>
                <h1 class="error">500</h1>
                <p class="text-center">Um serviço critico para o sistema se econtra com problemas.</p>
            </header>


            <p class="text-center" ng-bind-html="servicosCriticoInfo.descricao"></p>
            <p class="text-center" ng-bind-html="servicosCriticoInfo.link"></p>

        </div>
    </div>
</div>